body{
    background: #333; /*declare the body of our html as black*/
}

/*styling for our div with class box */
.box{ 
    background: white;
    width: 200px;
    height: 200px;
    position: relative;
    animation: testanimation;
    animation-duration: 5s; 
    animation-iteration-count: infinite;
}

/*styling for our animation declared named testanimation */
@keyframes testanimation{
    /*styling for our animation at keyframe 0% to 100% */
    0% {
        background-color: white; 
        /*position left:0 means stick to the left edge*/
        left: 0px;
        top: 0px;

        /*border radius will change the shape of our box
        ( top-left top-right buttom-right buttom-left) = ( 0 0 0 0 )
        at 0 0 0 0, it will become square
        at 50% 50% 50% 50% , it will become full circle
        */
        border-radius:50% 50% 50% 50%;

    }
    25%{
        background-color: red;
        left: 300px;
        top: 0px;
        border-radius: 50% 0 0 0;
    }

    50%{
        background-color: yellow;
        left: 300px;
        top: 300px;
        border-radius: 50% 50% 0 0;
    }

    75%{
        background-color: green;
        left: 0px;
        top: 300px;
        border-radius: 50% 50% 50% 0;
    }
    100% {
        background-color: white;
        left: 0px;
        top: 0px;
        border-radius:50% 50% 50% 50%;
    }
}

#info{
    font-family: Arial, Helvetica, sans-serif;
    background-color: blueviolet;
    color: white;
    line-height: 1.6;
    text-align: center;
    position: relative;
    top: 360px;
}